@model Library_Wep.Models.DTO.editDTO

@{
    var book = ViewBag.Book;
    var listAuthor = ViewBag.ListAuthor;
    var listPublisher = ViewBag.ListPublisher;
}

<h2>Edit book</h2>

<form asp-controller="Books" asp-action="editBook" asp-route-id="@book.Id" method="POST">
    <label>Title</label>
    <input type="text" name="Title" asp-for="Title" value="@book.Title" /><br />
    <label>Description</label><input type="text" name="Description" asp-for="Description" value="@book.Description" /><br />
    <label>IsRead</label>
    @if (@book.IsRead == true)
    {
        <input type="radio" name="IsRead" asp-for="IsRead" value="True" checked /> <label>Yes</label>
        <input type="radio" name="IsRead" asp-for="IsRead" value="False" /> <label>No</label>
    }
    else
    {
        <input type="radio" name="IsRead" asp-for="IsRead" value="True" /> <label>Yes</label>
        <input type="radio" name="IsRead" asp-for="IsRead" value="False" checked /> <label>No</label>
    }

    <br />

    <label>DateRead</label><input type="datetime" name="DateRead" asp-for="DateRead" value="@book.DateRead" /><br />
    <label>Rate</label><label><input type="number" name="Rate" asp-for="Rate" value="@book.Rate" /></label><br />
    <label>Genre</label><input type="text" name="Genre" asp-for="Genre" value="@book.Genre" /><br />
    <label>Cover Url</label><input type="text" name="CoverUrl" asp-for="CoverUrl" value="@book.CoverUrl" /><br />
    <label>DateAdded</label><input type="datetime" name="DateAdded" asp-for="DateAdded" value="@book.DateAdded" /><br />
    <label>Publisher:</label><span>@book.PublisherName</span>
    <select name="PublisherID">
        @foreach (var item in listPublisher)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    <label>Author:</label>
    <select name="AuthorIds" multiple>
        @foreach (var item in listAuthor)
        {
            <option value="@item.Id">@item.FullName</option>
        }
    </select>
    <br />
    <input type="submit" value="Save" />
</form>